Source: ros-melodic-pilz-industrial-motion
Section: misc
Priority: optional
Maintainer: Alexander Gutenkunst <a.gutenkunst@pilz.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: https://wiki.ros.org/pilz_industrial_motion
Standards-Version: 3.9.2

Package: ros-melodic-pilz-industrial-motion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-pilz-extensions, ros-melodic-pilz-msgs, ros-melodic-pilz-robot-programming, ros-melodic-pilz-trajectory-generation
Description: The pilz_industrial_motion package
